body {
  max-width: 60em;
  margin: auto;
  padding-top: 1em;
  border: 0px solid gray;
}

#logo {
  font-family: sans-serif;
  max-width: 200px;
  min-height: 74px;
  margin-left: auto;
  margin-right: auto;
  background: url('icon64.png') no-repeat;
}

#logo h1 {
  margin: 0px;
  padding: 0px;
  font-size: 36px;
  text-align: right;
}

#logo h2 {
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: 9px;
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

input {
  width: 80%;
  margin: auto;
}

input[type="submit"] {
  width: 15%;
  margin: auto;
}